<!-- <div class="add-rendezvous-container">
    <h2>{{ isEditMode ? 'Edit RendezVous' : 'Add RendezVous' }}</h2>
    <form [formGroup]="rendezVousForm" (ngSubmit)="onSubmit()">
      
      <div>
        <label for="heure">Heure</label>
        <input type="time" id="heure" formControlName="heure" />
        <div *ngIf="rendezVousForm.get('heure')?.invalid && rendezVousForm.get('heure')?.touched">
          Heure is required.
        </div>
      </div>
  
      <div>
        <label for="date">Date</label>
        <input type="date" id="date" formControlName="date" />
        <div *ngIf="rendezVousForm.get('date')?.invalid && rendezVousForm.get('date')?.touched">
          Date is required.
        </div>
      </div>
  
      <div>
        <label for="lieu">Lieu</label>
        <input id="lieu" formControlName="lieu" />
        <div *ngIf="rendezVousForm.get('lieu')?.invalid && rendezVousForm.get('lieu')?.touched">
          Lieu is required.
        </div>
      </div>
  
      <div>
        <label for="statutRendezVous">Statut RendezVous</label>
        <select class="form-control" id="statutRendezVous" formControlName="statutRendezVous" required>
          <option value="" disabled>Select the status</option>
          <option value="Confirmed">Confirmed</option>
          <option value="Pending">Pending</option>
          <option value="Cancelled">Cancelled</option>
        </select>
        <div *ngIf="rendezVousForm.get('statutRendezVous')?.invalid && rendezVousForm.get('statutRendezVous')?.touched">
          Statut RendezVous is required.
        </div>
      </div>
  
      <div>
        <label for="idtache">Tache ID</label>
        <input id="idtache" formControlName="idtache" type="number" />
        <div *ngIf="rendezVousForm.get('idtache')?.invalid && rendezVousForm.get('idtache')?.touched">
          Tache ID is required.
        </div>
      </div>
  
      <div>
        <label for="idclient">Client ID</label>
        <input id="idclient" formControlName="idclient" type="number" />
        <div *ngIf="rendezVousForm.get('idclient')?.invalid && rendezVousForm.get('idclient')?.touched">
          Client ID is required.
        </div>
      </div>
  
      <div>
        <label for="idjardinier">Jardinier ID</label>
        <input id="idjardinier" formControlName="idjardinier" type="number" />
        <div *ngIf="rendezVousForm.get('idjardinier')?.invalid && rendezVousForm.get('idjardinier')?.touched">
          Jardinier ID is required.
        </div>
      </div>
  
      <button type="submit" [disabled]="rendezVousForm.invalid">{{ isEditMode ? 'Update RendezVous' : 'Add RendezVous' }}</button>
    </form>
  </div>
   -->