<div class="add-tache-container">
    <h2>{{ isEditMode ? 'Edit Tache' : 'Add Tache' }}</h2>
    <form [formGroup]="tacheForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="description">Description</label>
        <input id="description" formControlName="description" />
        <div *ngIf="tacheForm.get('description')?.invalid && tacheForm.get('description')?.touched">
          Description is required.
        </div>
      </div>
  
      <div>
        <label for="date">Date</label>
        <input type="date" id="date" formControlName="date" />
        <div *ngIf="tacheForm.get('date')?.invalid && tacheForm.get('date')?.touched">
          Date is required.
        </div>
      </div>
  
      <div>
        <label for="statutTache">Statut Tache</label>
        <select class="form-control" id="statutTache" formControlName="statutTache" required>
          <option value="" disabled>Select the status</option>
          <option value="Traitee">Traitee</option>
          <option value="NonTraitee">NonTraitee</option>
          <option value="EnCours">EnCours</option>
        </select>
        <div *ngIf="tacheForm.get('statutTache')?.invalid && tacheForm.get('statutTache')?.touched">
          Statut Tache is required.
        </div>
      </div>
  
      <div>
        <label for="idequipement">Equipement ID</label>
        <input id="idequipement" formControlName="idequipement" type="number" />
        <div *ngIf="tacheForm.get('idequipement')?.invalid && tacheForm.get('idequipement')?.touched">
          Equipement ID is required.
        </div>
      </div>
  
      <button type="submit" [disabled]="tacheForm.invalid">{{ isEditMode ? 'Update Tache' : 'Add Tache' }}</button>
    </form>
  </div>
  