
  <div class="home-container">
    <main class="main-content">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/acc9ce186ea7acb99cedb4898d68ca8f794f401d1bc44f2e386e1d0c7a18111e?placeholderIfAbsent=true&apiKey=750e5d54decc4d3fb4e8170ee0088318" alt="Greenery background" class="background-image" />
        <h1 class="main-title">
          Bringing Greenery to Your Home
        </h1>
        <p class="title">
            For a Happier & Healthier Life

        </p>
        <button class="cta-button">Discover More</button>
      </main>
    </div>