:host { 
  display: contents; 
}

.home-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: 25;
  padding-bottom: 48px;
  position: relative; /* Ensure that the background image and content relate to this container */
}

.main-content {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  align-self: center;
  position: relative; /* Ensure content is positioned relative to the home container */
  z-index: 2; /* Place content above the background image */
  min-height: 1138px;
  width: 100%;
  max-width: 1637px;
  padding: 118px 66px 297px;
}

@media (max-width: 991px) {
  .main-content {
    max-width: 100%;
    padding: 100px 20px;
  }
}

.background-image {
  position: absolute; /* Background image will be positioned absolutely */
  z-index: 1; /* Ensure it is behind the content */
  top: 0;
  left: 0;
  
  object-fit: cover; /* Ensure it covers the container */
  object-position: center;
}

.main-title {
  position: relative; /* This ensures the title stays with the content */
  z-index: 3; /* Ensure the title is above the background image */
  color: #fff;
  letter-spacing: 6.42px;
  text-align: center;
  font: 50px/100px Roboto Condensed, -apple-system, Roboto, Helvetica, sans-serif;
}

.title {
  position: relative; /* This ensures the title stays with the content */
  z-index: 3; /* Ensure the title is above the background image */
  color: #fff;
  letter-spacing: 6.42px;
  text-align: center;
  font-size: 20px; /* Set a larger default size */
  line-height: 1.2;
}

@media (max-width: 991px) {
  .title {
    font-size: 35px; /* Adjust size for tablets */
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 28px; /* Adjust size for mobile phones */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 22px; /* Further adjust size for smaller mobile devices */
  }
}


@media (max-width: 991px) {
  .main-title {
    max-width: 100%;
    font-size: 35px;
    line-height: 65px;
  }
}

.cta-button {
  position: relative;
  border-radius: 9px;
  background-color: #f5f5f5;
  box-shadow: 0 21px 28px 5px rgba(0, 0, 0, 0.25);
  align-self: center;
  width: 275px;
  max-width: 50%;
  overflow: hidden;
  color: #000;
  letter-spacing: 1.74px;
  margin: 4px 0 -59px;
  padding: 15px 30px;
  font: 25px/1 Roboto, sans-serif;
  border: none;
  cursor: pointer;
  z-index: 3; /* Ensure the button stays on top of everything */
}

@media (max-width: 991px) {
  .cta-button {
    margin: 40px 0 10px;
    padding: 15px 20px;
  }
}
