<div class="tache-list-container">
    <h2>Task List</h2>
    <div class="add-tache-button">
        <a routerLink="/taches/add" class="btn btn-primary">Add New Task</a>
        <a class="nav-link" href="/login">Login</a>
    </div>

    <div class="search-container">
        <input
            type="text"
            placeholder="Search by description"
            [(ngModel)]="searchTerm"
            (input)="searchTaches()"
            class="form-control"
        />
    </div>

    <div *ngIf="taches !== undefined && taches.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Equipment ID</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tache of filteredTaches">
                    <td data-label="Description">{{ tache.description }}</td>
                    <td data-label="Date">{{ tache.date | date:'shortDate' }}</td>
                    <td data-label="Status">{{ tache.statutTache }}</td>
                    <td data-label="Equipment ID">{{ tache.idequipement }}</td>
                    <td data-label="Actions">
                        <button class="btn btn-danger" (click)="deleteTache(tache.idtache)">Delete</button>
                        <button class="btn btn-warning" (click)="editTache(tache.idtache)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="filteredTaches.length === 0" class="no-tache-container">
        <p>No tasks available.</p>
    </div>
</div>
